@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption,#footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;}
article, aside, details, figcaption, figure,#footer, header, hgroup, menu, nav, section{display: block;}
ol, ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration: none;}
/* common */
.inner_container{position: relative;margin: 0 auto;padding: 0 96px;max-width: 1920px;height: 100%;}
.clearfix:after{content: '';display: block;clear: both;}
.ir{position: absolute;top: -9999px;left: -9999px;}
.ir_2{display: block;text-indent: -9999px;}
.btn{display: inline-block;padding: 25px 0;width: 302px;font-size: 1.125em;background-color: #f15922;color: #fff;border: 1px solid #f15922;}
.btn:hover{background-color: #fff;color: #f15922;transition:0.5s;}
b{color: #333;}
.ellipsis{display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
/* layout */
#wrap{position: relative;font-family: 'Noto Sans KR', sans-serif;background-color: #fff;}
#header{position: fixed;top: 0;z-index: 30;width: 100%;}
#container{position: relative;z-index: 20;}
#footer{z-index: 10;}
/* skip */
.skip{position: absolute;left: -9999px;}
a.skip:active, a.skip:focus{left: 0;z-index: 100;padding: 10px 20px;background-color: #f15922;color: #fff;}
/* header */
#header{padding: 37px 0 20px;}
#header.scroll{background-color: #fff;border-bottom: 1px solid #eee;}
#header.scroll .logo .ir_2{background: url(../imgs/logo_02.png) center center no-repeat;}
#header.scroll .gnb li a{color: #000;}
#header.scroll .gnb li a:hover{color: #f15922;}
.logo{float: left;}
.logo .ir_2{width: 187px;height: 42px;background: url(../imgs/logo_01.png) center center no-repeat;}
.m_gnb{display: none;position: fixed;top: 50px;left: 30px;z-index: 50;width: 30px;height: 21px;transition: opacity .25s ease;}
.m_gnb i{position: absolute;left: 0;width: 100%;height: 2px;background-color: #f15922;transition: all .35s ease;}
.m_gnb .second{top: 9px;}
.m_gnb .third{bottom: 0;}
.m_gnb.active .first{transform: translateY(9px) translateX(0) rotate(45deg);}
.m_gnb.active .second{opacity: 0;}
.m_gnb.active .third{transform: translateY(-10px) translateX(0) rotate(-45deg);}
.gnb_wrap{float: right;}
.gnb li{float: left;padding: 0 30px;}
.gnb .last{padding-right: 0;}
.gnb li a{font-size: 1.125em;font-weight: bold;color: #fff;}
.gnb li a:hover{color: #f15922;}
#header .gnb li a.active{color: #f15922;}
/* container */
/* main slider */
#mainSlide{height: 100%;}
#mainSlide .slide{position: relative;height: 100%;background-position: center center;background-repeat: no-repeat;background-size: cover;}
#mainSlide .slide_01{background-image: url(../imgs/bg_visual_01.jpg);}
#mainSlide .slide_02{background-image: url(../imgs/bg_visual_02.jpg);}
#mainSlide .slide_03{background-image: url(../imgs/bg_visual_03.jpg);}
.bx-wrapper .bx-viewport{height: 100% !important;}
.bx-wrapper .bx-prev{z-index: 60;background: url(../imgs/icon_prev_01.png) center center no-repeat;}
.bx-wrapper .bx-prev:hover{background: url(../imgs/icon_prev_02.png) center center no-repeat;}
.bx-wrapper .bx-next{z-index: 60;background: url(../imgs/icon_next_01.png) center center no-repeat;}
.bx-wrapper .bx-next:hover{background: url(../imgs/icon_next_02.png) center center no-repeat;}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{z-index: 60;bottom: 57px;}
.main_info{position: absolute;top: 50%;left: 50%;width: 950px;text-align: center;transform: translate(-50%, -50%);}
.main_info span{color: #fff;}
.main_info .title_main{font-size: 4.375em;}
.main_info .title_main img{display: inline-block;padding-left: 38px;}
.main_info .title_dec{padding-top: 20px;display: block;font-size: 2.25em;}
/* section 공통 */
.title_wrap{text-align: center;}
.title_wrap .title{padding: 180px 0 45px;font-size: 3em;color: #4c4c4c;}
.title_wrap .title_dec{font-size: 1.25em;color: #808080;line-height: 2;}
.block{text-align: center;}
.block_list{padding-bottom: 85px;}
.block_list .list{float: left;}
.block_list .icon_dec{text-align: left;color: #808080;line-height: 2;}
/* about */
#about{background-color: #f5f5f5;}
#about .block{padding: 80px 0 160px;}
#about .block_list li{width: 49%;}
#about .block_list .list_01{float: left;}
#about .block_list .list_02{float: right;}
#about .icon_title{padding: 10px 0 30px;font-size: 1.125em;color: #4c4c4c;}
/* benefits */
#benefits .block{padding: 125px 30px 125px;text-align: left;}
#benefits .block_list .list{padding-right: 2%;width: 18%;}
#benefits .block_list .last{padding-right: 0;}
#benefits .icon_title{position: relative;padding: 60px 0;}
#benefits .icon_title:before{content: '';position: absolute;top: 40px;width: 30px;height: 4px;background-color: #f15922;}
/* apply */
#apply{background-color: #f5f5f5;}
#apply .title_dec{color: #333;}
#apply .block{padding: 80px 0 180px;}
#apply .block_list .list{width: 33.333%;}
#apply .block_list .step{padding-bottom: 35px;font-size: 1.125em;color: #4c4c4c;}
#apply .icon_title{padding-top: 30px;color: #808080;}
#apply .list{position: relative;}
#apply .list:after{content: '';position: absolute;top: 130px;right: -24px;width: 49px;height: 97px;background: url(../imgs/icon_arrow.png) center center no-repeat;}
#apply .list.last:after{display: none;}
/* our_story */
#our_story .block{padding: 33px 0 105px;}
#our_story .block_list{padding: 0 10% 60px;}
#our_story .list{padding-right: 5%;width: 30%;}
#our_story .list a{display: block;border: 1px solid #dbdbdb;}
#our_story .list a:hover{border-color: #f15922;}
#our_story .last{padding-right: 0;}
#our_story .list .list_img{overflow: hidden;}
#our_story .list img{display: block;width: 100%;transition: 0.3s;}
#our_story .list a:hover img{transform: scale(1.05);}
#our_story .icon_dec{padding: 34px 18px;height: 140px;font-size: 1.125em;color: #333;}
#our_story .list_title{position: relative;padding: 32px 18px;text-align: left;font-weight: bold;color: #333;}
#our_story .list_title:before{content: '';position: absolute;top: 0;left: 5%;width: 90%;height: 1px;background-color: #dbdbdb;}
#our_story .list a:hover .list_title:before{background-color: #f15922;}
/* footer */
.subscribe{background-color: #f5f5f5;text-align: center;}
.subscribe_info{padding: 50px 0 146px;width: 100%;}
#sch_stx{padding: 10px 25px;margin-right: 10px;width: 40%;height: 64px;font-size: 1.125em;border: 1px solid #9e9e9e;box-sizing: border-box;}
#sch_stx::placeholder{color: #ccc;}
#sch_stx:focus{outline: 0;border-color: #f15922;}
.submit{width: 20%;height: 64px;font-size: 1.125em;background-color: #f15922;color: #fff;border: 1px solid #f15922;cursor:pointer;}
.copyright{padding: 60px 0 140px;text-align: center;}
.copyright p{padding-bottom: 10px;color: #808088;}
.copyright .tel b{font-size: 1.125em;}
.copyright_info{padding-top: 25px;}
/* Media Query */
@media screen and (min-width: 1200px){ /*Full Size*/
  #wrap {font-size: 1em;}
}
@media screen and (max-width: 1200px){ /*PC Size*/
  #wrap {font-size: 1em;}
}
@media screen and (max-width: 1024px){ /*Note Book Size*/
  #wrap {font-size: 0.9em;}
  .main_info{font-size: 0.8em;}
  #benefits .block_list .list img{width: 100%;}
}
@media screen and (max-width: 768px){ /*Tablet Size*/
  #wrap {font-size: 0.8em;}
  .inner_container{padding: 0 50px;}
  #header{text-align: center;}
  .logo{display: inline-block;float: none;}
  .gnb_wrap{float: none;}
  .gnb_wrap li{padding: 0;width: 25%;}
  .gnb_wrap li a{display: inline-block;width: 100%;}
  .main_info .title_main{font-size: 3.5em;}
  .main_info .title_main img{width: 200px;}
  .main_info .title_dec{font-size: 2em;}
  .bx-wrapper .bx-prev{left: 50px;}
  .bx-wrapper .bx-next{right: 50px;}
  #benefits .block_list .list{width: 26%;padding: 10% 10% 0 0;}
  #benefits .block_list .list_03{padding-right: 0;}
  #apply .block_list .list{width: 50%;}
  #apply .block_list .list_02:after{display: none;}
  #apply .block_list .last{padding: 50px 0 0 60px;}
  #apply .list.last:after{display: block;top: 175px;right: 300px;}
  #our_story .list{width: 47.5%;}
  #our_story .list_02{padding-right: 0;}
  #our_story .last{padding-top: 50px;}
}
@media screen and (max-width: 480px){ /*Mobile Size*/
  #wrap {font-size: 0.9em;}
  .inner_container{padding: 0 20px;}
  .btn{width: 100%;}
  .logo .ir_2{background-size: 70%;}
  #header.scroll .logo .ir_2{background-size: 70%;}
  #header.scroll .gnb li a{color: #f15922;}
  .m_gnb{display: block;}
  .gnb_wrap{position: fixed;top: -100%;width: 100%;height: 100%;text-align: center;background-color: #f5f5f5;opacity: 0;transition: 0.3s;}
  .gnb{position: absolute;top: 50%;width: 100%;transform: translateY(-50%);}
  .gnb li{float: none;padding: 50px 0 0;width: 100%;}
  .gnb li a{font-size: 2.5em;color: #f15922;}
  .bx-controls-direction{display: none;}
  .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{display: none;}
  .title_wrap .title{padding-top: 85px;font-size: 2.3em;}
  .main_info{width: 300px;}
  .main_info .title_main{font-size: 2.4em;}
  .main_info .title_main img{padding-left: 20px;width: 130px;}
/*  .main_info .title_dec{font-size: 0.9em;}*/
  #about .block{padding-bottom: 85px;}
  #about .block_list li{width: 100%;}
  #about .block_list .list_02{padding-top: 50px;}
  #benefits .block{padding: 0;}
  #benefits .block_list .list{padding: 50px 0 0 0;width: 100%;}
  #benefits .block_list .list_img{text-align: center;}
  #benefits .block_list .list img{width: 70%;}
  #apply .block{padding-bottom: 85px;}
  #apply .block_list .list{padding-top: 50px;width: 100%;}
  #apply .block_list .list:after{display: none;}
  #apply .block_list .last{padding-left: 0;}
  #our_story .block{padding: 0 0 85px 0;}
  #our_story .block_list{padding: 0 0 60px 0;}
  #our_story .list{padding: 50px 0 0 0;width: 100%;}
  .subscribe_info{padding-bottom: 85px;}
  #sch_stx{margin: 0;width: 100%;}
  .submit{margin-top: 5px;width: 100%;}
  .copyright{padding-bottom: 85px;}
}
@media screen and (max-width: 320px){ /*Minimum Size*/
  
}